{# Inputs: check_name, check_display #}

<div class="checkbox--container">
    <input class="form-check-input checkbox pull-right checkbox--box" type="checkbox" name="{{ check_name }}" id="{{ check_name }}">
    <label for="{{ check_name }}" class="checkbox--label">{{ check_display }}</label>
</div>

{% set check_name = undefined %}
{% set check_display = undefined %}