{# Inputs: text_name, text_display #}
<label for="{{ text_name }}">{{ text_display }}</label>
<textarea name="{{ text_name }}" class="form-control" rows="5"></textarea>

{% set text_name = undefined %}
{% set text_display = undefined %}